<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shantara Hotel</title>
    <meta name="description"
          content="Маленькие чудеса за городом: откройте для себя радость уютного отдыха вместе с нами!">
    <meta name="Keywords" content="">
    <link href=" https://cdn.jsdelivr.net/npm/air-datepicker@3.5.0/air-datepicker.min.css " rel="stylesheet">
    <link rel="stylesheet" href="../static/css/my-slider.css"/>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="../static/js/ism-2.2.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "></script>
    <script src=" https://cdn.jsdelivr.net/npm/air-datepicker@3.5.0/air-datepicker.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js "></script>

</head>
<body>
<div class="main">
    <section class="header">
        <div class="frame-parent">
            <header class="addres-parent">
                <div class="addres">
                    <img class="feather-icons-map-pin" alt="" src="../static/public/feather-icons--mappin.svg"/>
                    <h3 class="h3">д. Хийденсельга, Карелия</h3>
                </div>
                <div class="phone">
                    <img class="feather-icons-phone-call" alt="" src="../static/public/feather-icons--phonecall.svg"/>
                    <b class="b">+7 (931) 701-99-10</b>
                </div>
            </header>
            <div class="name">
                <img class="vector-icon" alt="" src="../static/public/vector.svg"/>
                <h1 class="shantara-hotel">Shantara Hotel</h1>
                <h3 class="h31">
                    Маленькие чудеса за городом: откройте для себя радость уютного
                    отдыха вместе с нами!
                </h3>
            </div>
        </div>
    </section>
    <section class="desktop-8-inner">
        <div class="frame-group">
            <div class="vector-parent">
                <img class="vector-icon1" alt="" src="../static/public/vector-1.svg"/>
                <h1 class="h1">
                    Мы сделаем Ваш отдых комфортным, запоминающимся и интересным
                </h1>
                <img class="frame-child" alt="" src="../static/public/line-14.svg"/>
            </div>
            <div class="frame-container">
                <div class="images">
                    <div class="ism-slider" id="img-slider">
                        <ol>
                            <li>
                                <img src="../static/public/1.jpeg" alt="" style="height: 400px; width: 600px;">
                            </li>
                            <li>
                                <img src="../static/public/2.png" alt="" style="height: 400px; width: 600px;">
                            </li>
                            <li>
                                <img src="../static/public/3.png" alt="" style="height: 400px; width: 600px;">
                            </li>
                            <li>
                                <img src="../static/public/4.png" alt="" style="height: 400px; width: 600px;">
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="description">
                    <h1 class="title">Современный модульный дом</h1>
                    <h3 class="short-description">Кухня с гостиной + душевая комната и терраса</h3>
                    <div class="area-people">
                        <div class="parent">
                            <b class="b1">
                                <span>28</span>
                                <span class="span"> </span>
                                <span class="span1">кв. м</span>
                            </b>
                            <h3 class="h33">Площадь коттеджа</h3>
                        </div>
                        <div class="parent">
                            <b class="b1">
                                <span>2</span>
                                <span class="span2">человек</span>
                            </b>
                            <h3 class="h33">Вместимость</h3>
                        </div>
                    </div>
                    <div class="text-description">
                        <img class="frame-child" alt="" src="../static/public/line-14.svg" style="width: 100%;"/>
                        <div style="display: flex;  flex-direction: column; gap: 10px; width: 100%; padding-top: 20px">
                            <p2 class="price-text">Цена за 1 ночь</p2>
                            <p2 class="price-text">от <span style="font-weight: 600; font-size: 28px;">7 000 ₽</span>
                            </p2>
                        </div>
                    </div>
                    <div>
                        <button class="button" id="button">
                            <div class="button1">Забронировать</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>

    </section>
    <section class="desktop-8-child">
        <div class="vector-group">
            <img class="frame-item" alt="" src="../static/public/line-14-1.svg"/>
            <h3 class="h35">Обратная связь</h3>
            <div class="hiide-houses-logo">
                <button class="button2">
                    <div class="div12">Посмотреть отзывы</div>
                </button>
                <button class="button3">
                    <div class="div13">Оставить отзыв</div>
                </button>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="button-instance1">
            <h1 class="text">Контакты</h1>
        </div>
        <div class="electric-teakettle">
            <img class="line-icon" alt="" src="../static/public/line-14-1.svg"/>
        </div>
        <div class="bathroom-icons">
            <div class="refrigerator-symbol-parent">
                <div class="refrigerator-symbol">
                    <h2 class="h2">Бронирование:</h2>
                    <div class="phone1">Тел.: +7 (931) 701-99-10</div>
                    <h3 class="email">Email: hiidehouses@yandex.ru</h3>
                </div>
                <div class="container">
                    <h2 class="h21">Адрес:</h2>
                    <h3 class="addres1">
                        000000, Республика Карелия, д. Хийденсельга
                    </h3>
                </div>
            </div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0a969d7f05eba6276f266bfd4cf77a6cb62c2099ee5cc1cbf713e6c41964dbca&amp;source=constructor"
                    width="424" height="302" frameborder="0"></iframe>
        </div>
        <div class="footer-inner">
            <div class="contact-data-parent">
                <img class="contact-data-icon" alt="" src="../static/public/vector-2.svg"/>
                <div class="copytight-2024-hiidehouses-wrapper">
                    <b class="copytight-2024">© Copytight 2024 | Shantara Hotel </b>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="preloader">
    <div class="loader">
        <img class="vector-icon" alt="" src="../static/public/vector-1.svg"/>
        <span class="spinner"></span>
    </div>
</div>
<div id="framePopup" class="popup-overlay" style="display: none">
    <div class="input-container-parent">
        <div class="input-container">
            <div class="wrapper">
                <h2 class="h22">Броинрование</h2>
            </div>
            <span id="closeModal" style="cursor: pointer" onclick="closeModal()">
              <img class="phosphor-icons-x" loading="lazy" alt="" src="../static/public/phosphor-icons--x.svg"/>
          </span>
        </div>
        <section class="frame-wrapper">
            <div class="frame-parent1">
                <div class="image-23-parent">
                    <div class="image-23" id="calen"></div>
                    <div class="campusitmoru-container">
                        <p>Заселение начинается с 14:00. С собой необходимо иметь паспорт, согласие родителя (в случае,
                            если Вам не исполнилось 18 лет). В случае возникновения каких-либо вопросов, напишите на
                            почту campus@itmo.ru или позвоните по номеру +79317019910.</p>
                    </div>
                </div>
                <form class="icon-set-for-phosphor-parent">
                    <div class="icon-set-for-phosphor">
                        <div class="input-parent">
                            <div class="input">
                                <div class="input-inner">
                                    <label for="firstDateInput">
                                        <input class="def-input-input"
                                               id="firstDateInput"
                                               placeholder="Заезд" type="text"
                                               disabled/>
                                    </label>
                                </div>
                            </div>
                            <div class="input">
                                <div class="input-inner">
                                    <label for="secondDateInput">
                                        <input class="def-input-input"
                                               id="secondDateInput"
                                               placeholder="Выезд" type="text"
                                               disabled/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="small-input">
                                <div class="small-input-inner">
                                    <label class="input-label">
                                        <input class="def-input-input" placeholder="Взрослых" type="text"/>
                                    </label>
                                </div>
                            </div>
                            <div class="small-input">
                                <div class="small-input-inner">
                                    <label class="input-label">
                                        <input class="def-input-input" placeholder="Детей" type="text"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="def-input">
                            <div class="def-input-inner">
                                <label class="input-label">
                                    <input class="def-input-input" placeholder="Фамилия" type="text"/>
                                </label>
                            </div>
                        </div>
                        <div class="def-input">
                            <div class="def-input-inner">
                                <label class="input-label">
                                    <input class="def-input-input" placeholder="Имя" type="text"/>
                                </label>
                            </div>
                        </div>
                        <div class="def-input">
                            <div class="def-input-inner">
                                <label class="input-label">
                                    <input class="def-input-input" placeholder="Отчество" type="text"/>
                                </label>
                            </div>
                        </div>
                        <div class="def-input">
                            <div class="def-input-inner" style="gap: 7px;">
                                <div class="phosphor-icons-eye">
                                    <img class="feather-icons-phone" alt=""
                                         src="../static/public/feather-icons--phone.svg"/>
                                </div>
                                <label class="input-label">
                                    <input class="def-input-input" placeholder="Номер телефона" type="text"/>
                                </label>
                            </div>
                        </div>
                        <div class="def-input">
                            <div class="def-input-inner" style="gap: 7px;">
                                <div class="phosphor-icons-eye1">
                                    <img class="feather-icons-mail" alt=""
                                         src="../static/public/feather-icons--mail.svg"/>
                                </div>
                                <label class="input-label">
                                    <input class="def-input-input" placeholder="Электронная почта" type="text"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="button7">
                        <div class="button8">Забронировать</div>
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>

<script>
    const HOST = "http://127.0.0.1:5000"
    document.querySelector('.button7').addEventListener('click', function (event) {
        event.preventDefault();

        const fields = [
            {element: document.querySelector('input[placeholder="Заезд"]'), value: 'firstDate'},
            {element: document.querySelector('input[placeholder="Выезд"]'), value: 'secondDate'},
            {element: document.querySelector('input[placeholder="Взрослых"]'), value: 'adults'},
            {element: document.querySelector('input[placeholder="Детей"]'), value: 'children'},
            {element: document.querySelector('input[placeholder="Фамилия"]'), value: 'surname'},
            {element: document.querySelector('input[placeholder="Имя"]'), value: 'name'},
            {element: document.querySelector('input[placeholder="Отчество"]'), value: 'patronymic'},
            {element: document.querySelector('input[placeholder="Номер телефона"]'), value: 'phone'},
            {element: document.querySelector('input[placeholder="Электронная почта"]'), value: 'email'}
        ];

        // Проверяем каждое поле на наличие значения
        const data = {};
        let allFieldsFilled = true;
        fields.forEach(field => {
            if (field.element.value === '') {
                field.element.parentNode.parentNode.style.border = '2px solid red';
                allFieldsFilled = false;
            } else {
                data[field.value] = field.element.value;
            }
            field.element.addEventListener('focus', function () {
                this.parentNode.parentNode.style.border = '2px solid #acacac';
            });
        });

        console.log(data);

        // Если все поля заполнены, делаем POST-запрос
        if (allFieldsFilled) {
            axios.post('/api/booking', data)
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    });
</script>

<script>
    var $j = jQuery.noConflict();

    $j(window).on('load', function () {
        setTimeout(function () {
            $j('#preloader').fadeOut('slow', function () {
                $j(this).remove();
            });
        }, 500);
    });
</script>
<script>
    const disabledDates = [
        new Date('2024-05-07T00:00:00'),
        new Date('2024-05-08T00:00:00'),
        new Date('2024-05-09T00:00:00')
    ];

    const isDisabledDateIsInRange = ({date, datepicker}) => {
        const selectedDate = datepicker.selectedDates[0];
        if (selectedDate && datepicker.selectedDates.length === 1) {
            const sortedDates = [selectedDate, date].sort((a, b) => a - b);

            return disabledDates.some(disabledDate =>
                dateFns.isWithinInterval(disabledDate, {
                    start: sortedDates[0],
                    end: sortedDates[1]
                })
            );
        }
        return false;
    }

    new AirDatepicker('#calen', {
        inline: true,
        range: true,
        minDate: new Date(),
        onBeforeSelect: ({date, datepicker}) => {
            // Не даем выбрать дату, если недопустимая дата в диапазоне
            return !isDisabledDateIsInRange({date, datepicker});
        },
        onFocus: ({date, datepicker}) => {
            if (isDisabledDateIsInRange({
                date,
                datepicker
            }) || disabledDates.some(disabledDate => dateFns.isEqual(date, disabledDate))) {
                datepicker.$datepicker.classList.add('-disabled-range-')
            } else {
                datepicker.$datepicker.classList.remove('-disabled-range-')
            }
        },
        onRenderCell: ({date}) => {
            if (disabledDates.some(disabledDate => date.toLocaleDateString() === disabledDate.toLocaleDateString())) {
                return {
                    disabled: true,
                    classes: "-booked-"
                }
            }
        },
        onSelect: function (fd, date, picker) {
            let selectedDates = fd["formattedDate"];
            if (selectedDates.length >= 2) {
                // Сортируем даты от самой ранней до самой поздней
                selectedDates.sort(function (a, b) {
                    return a - b
                });

                let firstDate = selectedDates[0]; // первая выбранная дата
                let lastDate = selectedDates[selectedDates.length - 1]; // последняя выбранная дата

                // Получаем элементы полей ввода
                let firstInput = document.getElementById("firstDateInput");
                let secondInput = document.getElementById("secondDateInput");

                firstInput.parentNode.parentNode.style.border = '2px solid #acacac';
                secondInput.parentNode.parentNode.style.border = '2px solid #acacac';

                // Преобразовываем выбранные даты в строку и устанавливаем значения полей ввода
                firstInput.value = firstDate;
                secondInput.value = lastDate;
            }
        }
    });

    function formatDate(date) {
        return (date.getMonth() + 1).toString().padStart(2, '0') + '/'
            + date.getDate().toString().padStart(2, '0') + '/'
            + date.getFullYear();
    }
</script>
<script>
    const button = document.getElementById("button");
    if (button) {
        button.addEventListener("click", function () {
            const popup = document.getElementById("framePopup");
            if (!popup) return;
            const popupStyle = popup.style;
            if (popupStyle) {
                popupStyle.display = "flex";
                popupStyle.zIndex = 100;
                popupStyle.backgroundColor = "rgba(37, 37, 37, 0.67)";
                popupStyle.alignItems = "center";
                popupStyle.justifyContent = "center";
            }
            popup.setAttribute("closable", "");

            var onClick =
                popup.onClick ||
                function (e) {
                    if (e.target === popup && popup.hasAttribute("closable")) {
                        popupStyle.display = "none";
                    }
                };
            popup.addEventListener("click", onClick);
        });
    }

    function closeModal() {
        const popup = document.getElementById("framePopup");
        if (!popup) return;
        popup.style.display = 'none';
    }
</script>
</body>
</html>
